* {
  overflow-anchor: none !important;
  scroll-snap-stop: normal !important;
  overscroll-behavior: unset !important;
  scroll-behavior: unset !important;
}
body{
  background-color: #1e1e1e;
  overflow-anchor: none;
}

iframe, object, embed {
  max-width: 100%;
  max-height: 100%;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c2c2c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(92, 92, 92);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(44, 44, 44);
}

/* CARD */
.card{
  width: 100%!important;
  -webkit-box-shadow: none!important;
  box-shadow:none!important;
  border-bottom: rgb(23 23 23) solid 3px!important;
}

.ui.card>.image, .ui.cards>.card>.image{
  border-radius: 0px!important;
}

.ui.card,
.ui.cards>.card {
  background-color: #1e1e1e;
  border-radius: 0px;
  margin-top: 0px;
}

.card:first-child{
  margin-top: 0!important;
}
.ui.card:hover:not(.watched){
  filter: brightness(1.05);
}

.image{
  border: #1e1e1e solid 4px;
}

.image img{
  width: 100%;
}

/* CONTENT */

.content {
  font-size: 13px!important;

}
.content, .content a{
  color: white!important;
}

.header{
  color:#a0a0a0;
  font-size:20px!important;
  padding-bottom: 10px;
}

.header:hover{
  color:white;
  -webkit-transition: color 100ms linear;
  -ms-transition: color 100ms linear;
  transition: color 100ms linear;
}

.info{
  padding-top:5px;
  display: inline-block;
  padding-right: 10px;
}

/* ICONS */ 

i{
  padding-right:4px;
}

.watchlaterDuration{
  color: white;
  font-size: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
}