
.releases-title{
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}
h2{
    color:white;
    font-size: 16px;
    padding-left: 10px
}
i{
    color: #ffb102;
    padding-right: 7px;
}
p,ul,li{
    color:white
}