* {
  overflow-anchor: none !important;
  scroll-snap-stop: normal !important;
  overscroll-behavior: unset !important;
  scroll-behavior: unset !important;
}
body{
  background-color: #1e1e1e;
  overflow-anchor: none;
}

iframe, object, embed {
  max-width: 100%;
  max-height: 100%;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c2c2c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(92, 92, 92);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(44, 44, 44);
}

/* CARD */
.card{
  width: 100%!important;
  -webkit-box-shadow: none!important;
  box-shadow:none!important;
  border-bottom: rgb(23 23 23) solid 3px!important;
}

.ui.card>.image, .ui.cards>.card>.image{
  border-radius: 0px!important;
}

.ui.card,
.ui.cards>.card {
  background-color: #1e1e1e;
  border-radius: 0px;
  margin-top: 0px;
}

.card:first-child{
  margin-top: 0!important;
}
.ui.card:hover:not(.watched){
  filter: brightness(1.05);
}

.image{
  border: #1e1e1e solid 4px;
}

.image img{
  width: 100%;
}

/* CONTENT */

.content {
  font-size: 13px!important;

}
.content, .content a{
  color: white!important;
}

.header{
  color:#a0a0a0;
  font-size:20px!important;
  padding-bottom: 10px;
}

.header:hover{
  color:white;
  -webkit-transition: color 100ms linear;
  -ms-transition: color 100ms linear;
  transition: color 100ms linear;
}

.info{
  padding-top:5px;
  display: inline-block;
  padding-right: 10px;
}

/* ICONS */ 

i{
  padding-right:4px;
}
.views i{
  padding-right:8px;
  color: #ffb102;
}
.duration i{
  color: #b5cc18
}
.date i {
  color: #2185d0
}
.warning-color{
  color:#db2828!important;
}
.ban{
  width: 22px!important;
  right: 22px!important;
}
.ban:hover{
  filter: brightness(1.2);
}
.platform{
  height: 20px;
}
.good{
  color: #21ba45;
}
.bad{
  color: #db2828;
}
.youtube{
  color: #ff0303;
}

.price i{
  color: #2185d0;
}
.store i {
  color: #ffb102;
}
.store,.price{
  font-size:13px
}

.watchlater{
  z-index: 6;
  position: absolute;
  top: 10px;
  right: 10px;
  background:#1e1e1e;
  padding: 8px;
  font-size: 15px;
  border-radius: 5px;
  color: #ececec;
}
.watchlater:hover{
  color:white;
  -webkit-transition: color 100ms linear;
  -ms-transition: color 100ms linear;
  transition: color 100ms linear;
}









#notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hidden {
  display: none;
}