.tabular{
    position: fixed!important;
    height: 30px;
    z-index: 1000;
}
.item{
    border: none!important;
    border-radius: 0px!important;
    font-size: 12px;
    transition: background-color 0.18s!important;
    height: 30px !important;
    background-color: #252525!important;
    
}
.ui.tabular.menu .item.active {
    border-radius: 0px!important;
}

.item:hover{
   background-color: #3c3c3c!important;
   color:white!important;
   border-radius: 0px!important;
}


.item.active {
    background-color: #555555!important;;
}
.watched{
    filter: brightness(0.6);
}
