<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="./stylesheets/libs/semantic.min.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="./stylesheets/main.css" />
    <link rel="stylesheet" href="./stylesheets/tabs.css" />

    <link rel="stylesheet" href="./stylesheets/youtube.css" />
    <link rel="stylesheet" href="./stylesheets/products.css" />
    <link rel="stylesheet" href="./stylesheets/channels.css" />

    <link rel="stylesheet" href="./stylesheets/songrequest.css" />
    
    <link rel="stylesheet" href="./stylesheets/notification.css" />
    
    <script src="./javascript/libs/tmi.min.js"></script>
    <script src="./javascript/libs/moment.js"></script>
    <script src="./javascript/libs/moment-duration-format.js"></script>

    <!-- Insert this line above script imports  -->
    <script>
      if (typeof module === "object") {
        window.module = module;
        module = undefined;
      }
    </script>

    <!-- normal script imports etc  -->
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
      type="text/javascript"
    ></script>

    <!-- Insert this line after script imports -->
    <script>
      if (window.module) module = window.module;
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-tippy/dist/vue-tippy.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-tippy/dist/vue-tippy.min.js"></script>

    <title>Stream Videos</title>
  </head>
  <body>
    <div id="app">
      

      <div id="notification" class="ui message hidden">
        <i class="fas fa-times"  id="close-button" onClick="closeNotification()"></i>
        <div id="message_title" class="header">
          
        </div>
        <p id="message"></p>
        <button id="restart-button" class="ui button primary hidden" onClick="restartApp()">
          Reiniciar Ahora
        </button>
      </div>



      <div class="ui inverted top attached tabular menu">
        <div
          @click="setTab(tab) "
          v-for="(tab,index) in tabs"
          :class="{ active: currentTab==tab.id }"
          class="item "
          v-if="tab.enabled"
        >
        {{tab.name}}
        <div class="tab-amount" v-if="tab.id == 'watchlater' && totalItemsInWatchLater() > 0">
          <span>{{totalItemsInWatchLater()}}</span>
        </div>
        <div class="tab-amount" v-if="tab.id == 'clips' && totalItems(clips) > 0">
          <span>{{totalItems(clips)}}</span>
        </div>
        </div>
      </div>
    </br></br>

      <div class="watchlaterDuration" v-if="currentTab=='watchlater'">
        <i class="far fa-clock"></i> Duración total: {{watchlaterDuration()}}
      </div>

      <div 
         v-if=" 
                /* TABS */
                
                ( 
                  ( currentTab == 'videos' && video.watchlater == false)  ||
                  ( currentTab == 'watchlater' && video.watchlater == true ) 
                )

                /* Video Filters */

                && (

                  ( videofilters.shortvideos == true || video.durationSecounds > 60) &&
                  ( videofilters.musicalvideos == true || video.category != '10' )

                )

                /* Watched in session */

                && ( showSentInSession == true || (showSentInSession==false && !video.watched))
               "

                class="ui card" :class="{ watched: video.watched }" v-for="(video,index) in reversevideos">
        <div class="image">
         
          <i v-if="(currentTab=='videos' || currentTab=='watchlater') && !video.watched" @click="addToBanVideos(video.id)" content="Banear" v-tippy class="videobutton banvideo fas fa-ban"></i>

          <i v-if="currentTab=='videos' && !video.watched" @click="addToWatchlater(video.id)" content="Ver más tarde" v-tippy class="videobutton watchlater fas fa-stopwatch"></i>
          <i v-if="currentTab=='watchlater' && !video.watched" @click="removeFromWatchlater(video.id)" content="Quitar de ver mas tarde" v-tippy class="videobutton watchlater fas fa-times"></i>
          
          <a @click="markAsWatched(videos,video.id)" :href="video.url" target="_blank">
            <img :src="video.thumbnail_url" />
          </a>
        </div>
        <div class="content">
          <a @click="markAsWatched(videos,video.id)" :href="video.url" target="_blank" class="header"
            >{{video.title}}</a
          >
          <p class="info-row">

            
            
            <span v-if="video.views && videofilters.views" content="Visitas" v-tippy :class="{ 'warning-color': video.views < 100}" class="info views">
              <i v-if="video.views >= 100" class="fas fa-eye"></i>
              <i
                v-if="video.views < 100"
                title="Tiene pocas views, puede ser contenido baneable."
                class="warning-color fas fa-exclamation-triangle"
              ></i>
              {{ new Intl.NumberFormat("es-CL").format(video.views) }}
            </span>

            <span v-if="video.durationFormated && videofilters.durationFormated" content="Duracion" v-tippy class="info duration"
              ><i class="far fa-clock"></i>{{ video.durationFormated }}</span
            >
            <span v-if="video.publishedAt && videofilters.publishedAt" content="Fecha de creacion" v-tippy class="info date"
              ><i class="fas fa-calendar-alt"></i>{{ video.publishedAt }}</span
            >
            <a target="__blank" :href="'https://www.youtube.com/channel/'+video.channelId+'/videos'" v-if="videofilters.channel" content="Canal" v-tippy :id="video.channelId" class="info channel"
              ><i class="youtube fab fa-youtube"></i>{{ video.channel }}</a
            >
            <span v-if="videofilters.author" :content="'Enviado desde '+video.platform" v-tippy class="info author"
              >
              
              <img v-if="video.platform == 'twitch'" class="platform" src="./images/twitch-icon.png"></img>
              <img v-if="video.platform == 'booyah'" class="platform" src="./images/booyah-icon.png"></img>

              {{video.author }}</span
              >
              <span v-if="videofilters.category" content="Categoria" v-tippy class="info category"
              ><i class="youtube fas fa-list"></i>{{ readeableCategory( video.category ) }}</span
              >
              
              <span v-if="video.likeratio  && videofilters.likeratio" content="Likes" v-tippy class="info likeratio"
              ><i v-if="video.likeratio > 85" class="good fas fa-thumbs-up"></i>
              <i v-if="video.likeratio <= 85" class="bad fas fa-thumbs-down"></i>{{video.likeratio}}%</span
              >
              <a target="__blank" :href="'https://www.youtube.com/results?search_query='+video.title" content="Buscar videos similares en Youtube" v-tippy class="info "
              ><i class="youtube fas fa-search"></i>Ver Similares</span
              ></a
              >
              <p v-if="videofilters.description" class="info videodescription">{{video.description}}</p>
            <!-- <img @click="banvideo(video.id)" class="ban" src="ban.png"> </img> -->
          </p>
        </div>
      </div>



      <div 
      v-if=" currentTab=='products' && stores.includes(product.store) &&
            (showSentInSession==true || (showSentInSession==false && !product.watched))
             "

              class="ui card" :class="{ watched: product.watched }" v-for="(product,index) in reverseproducts">
      <div class="image">
       
        <a @click="markAsWatched(products, product.title)" :href="product.url" target="_blank">
          <img :src="product.img" />
        </a>
      </div>
      <div class="content">
        <a @click="markAsWatched(products, product.title)" :href="product.url" target="_blank" class="header"
          >{{product.title}}</a
        >
        <p class="info-row">
          <span v-if="product.priceCLP" content="Precio en CLP" v-tippy class="info price">
            <i class="fas fa-tag"></i>{{ new Intl.NumberFormat('es-CL', {style: 'currency',currency: 'CLP'}).format(product.priceCLP)}} pesos
          </span>

          <span v-if="product.priceUSD" content="Precio en Dolares Estadounidences" v-tippy class="info price">
            <i class="fas fa-tag"></i>{{ new Intl.NumberFormat('en-US', {style: 'currency',currency: 'USD'}).format(product.priceUSD)}} dolares
          </span>
          
          <span v-if="product.category" content="Categoria" v-tippy class="info price">
            <i class="fas fa-tag"></i>{{ product.category }}
          </span>
        

            <span content="Tienda" v-tippy class="info store">
              <i class="fas fa-store-alt"></i>{{ product.storeReadeable }}
            </span>
         </p>
      </div>
    </div>





    <div 
      v-if=" currentTab=='clips' &&
            (showSentInSession==true || (showSentInSession==false && !clip.watched))
             "

              class="ui card" :class="{ watched: clip.watched }" v-for="(clip,index) in reverseclips">
      <div class="image">
        <a @click="markAsWatched(clips, product.title)" :href="clip.url" target="_blank">
          <video :src="clip.video"></video>
        </a>
      </div>
      <div class="content">

        <img class="channelImage" :src="clip.channelImage">
        <div class="aside">


        <a @click="markAsWatched(clips, clip.title)" :href="clip.url" target="_blank" class="header"
          >{{clip.title}}</a
        >
        <p class="info-row">
          <span v-if="videofilters.author" :content="'Enviado desde '+clip.platform" v-tippy class="info author"
          >
          
          <img v-if="clip.platform == 'twitch'" class="platform" src="./images/twitch-icon.png"></img>
          <img v-if="clip.platform == 'booyah'" class="platform" src="./images/booyah-icon.png"></img>

          {{clip.platform }}</span>

          <span v-if="clip.author" content="Autor del clip" v-tippy class="info price">
            <i class="fas fa-user"></i>{{ clip.author }}
          </span>
          
          <span v-if="clip.createdAt" content="Fecha de creacion" v-tippy class="info date"
          ><i class="fas fa-calendar-alt"></i>{{ clip.createdAt }}</span>

         </p>

        </div>
      </div>
    </div>



    

    <div :style="{ backgroundImage: 'linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('+channel.items[0].brandingSettings.image.bannerExternalUrl+')' }" v-if=" currentTab=='channels'" class="ui card channelCard" v-for="(channel, index) in reversechannels">

    <div class="content">
      <i class="fas fa-times" id="close-button" @click="deleteChannel(channel.items[0].id)"></i>

      <a :href="'https://www.youtube.com/channel/'+channel.items[0].id+'/videos'" target="_blank" class="header"
        > <img class="channelIcon" :src="channel.items[0].snippet.thumbnails.default.url"></img> {{channel.items[0].snippet.title}}</a
      >
      <p class="info-row">
       
        <span content="Subscriptores" v-tippy class="info subs">
          <i class="fas fa-user"></i>{{new Intl.NumberFormat("es-CL").format( channel.items[0].statistics.subscriberCount) }}
        </span>
        
        <span content="Visitas totales del canal" v-tippy class="info views">
          <i class="fas fa-eye"></i>{{new Intl.NumberFormat("es-CL").format( channel.items[0].statistics.viewCount) }}
        </span>

        <span content="Videos" v-tippy class="info videos">
          <i class="fas fa-play"></i>{{new Intl.NumberFormat("es-CL").format( channel.items[0].statistics.videoCount) }}
        </span>
       </p>
    </div>
  </div>

  <div 
  v-if=" currentTab=='songrequest' ">


  <button @click="startSongRequest()" v-if="!songrequstison" class="ui small green button">
    <i class="fas fa-play"></i> Iniciar
  </button>

  <button @click="stopSongRequest()" v-if="songrequstison" class="ui small red button">
    <i class="fas fa-stop"></i> Detener
  </button>

  <button @click="pauseSongRequest()" v-if="!paused" class="ui small yellow button">
    <i class="fas fa-pause"></i> Pausar
  </button>

  <button @click="resumeSongRequest()" v-if="paused" class="ui small orange button">
    <i class="fas fa-play"></i> Despausar
  </button>
   
  <button @click="playNext()" class="ui small blue button">
    <i class="fas fa-forward"></i> Saltar
  </button>

    <table v-if="songslist.length > 0" class="ui selectable unstackable  inverted table songslist">
      <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Artista</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-bind:class="(index == 0) ? 'current' : ''" v-for="(song, index) in songslist">
          <td>#{{index+1}}</td>
          <td>{{song.title}}</td>
          <td>{{song.artist}}</td>
          <td class="close">x</td>
        </tr>
      </tbody>
    </table>




  </div>

  <div id="player"></div>

    </div>
    <script src="./javascript/scroll.js"></script>
    <script src="./javascript/main.js"></script>
  </body>
</html>
